/* DARK */
[data-theme="dark"] {
  /* Neutral */
  --n-bg-app: #000000;
  --n-bg-card: #141414;
  --n-card-border: #232323;
  --n-bg-panel: #1d1d1d;
  --n-bg-overly: #454545;
  --n-sf-sunken: #141414;
  --n-sf-default: #212121;
  --n-sf-input: #1e1e1e;
  --n-sf-raised: #323232;
  --n-sf-overlay: #3a3a3a;
  --n-sf-hover: #343434;
  --n-sf-active: #404040;
  --n-br-hairline: #272727;
  --n-br-subtle: #3a3a3a;
  --n-br-default: #505050;
  --n-br-strong: #7a7a7a;
  --n-tx-primary: #cccccc;
  --n-tx-secondary: #9c9c9c;
  --n-tx-muted: #7a7a7a;
  --n-tx-dim: #5f5f5f;
  --n-tx-disabled: #3e3e3e;
  --n-fi-subtle: #272727;
  --n-fi-default: #3e3e3e;
  --n-fi-strong: #5f5f5f;
  --n-fi-stronger: #7a7a7a;
  --n-fi-strongest: #7a7a7a;
  --n-fi-btn-disabled: #454545;
  --n-fi-btn-subtle: #5f5f5f;
  --n-fi-btn-default: #828282;
  --n-fi-btn-hover: #969696;
  --n-fi-btn-pressed: #a7a7a7;
  --n-tx-btn-disabled: #bbbbbb;
  --n-tx-btn-subtle: #e4e4e4;
  --n-tx-btn-default: #000000;
  --n-tx-btn-hover: #000000;
  --n-tx-btn-pressed: #000000;

  /* Brand */
  --b-bg-app: #000000;
  --b-bg-panel: #00194e;
  --b-bg-overly: #003ca2;
  --b-sf-sunken: #00103a;
  --b-sf-default: #001c55;
  --b-sf-input: #00246a;
  --b-sf-raised: #002b79;
  --b-sf-overlay: #00328d;
  --b-sf-hover: #002d7e;
  --b-sf-active: #003798;
  --b-br-hairline: #002264;
  --b-br-subtle: #00328d;
  --b-br-default: #0046bb;
  --b-br-strong: #3876e6;
  --b-tx-primary: #b3cdf9;
  --b-tx-secondary: #6b9bf0;
  --b-tx-muted: #3876e6;
  --b-tx-dim: #0053da;
  --b-tx-disabled: #003694;
  --b-fi-subtle: #002264;
  --b-fi-default: #003694;
  --b-fi-strong: #0053da;
  --b-fi-stronger: #3876e6;
  --b-fi-strongest: #3876e6;
  --b-fi-btn-disabled: #0036b2;
  --b-fi-btn-subtle: #004ee7;
  --b-fi-btn-default: #327bff;
  --b-fi-btn-hover: #5894ff;
  --b-fi-btn-pressed: #74a7ff;
  --b-tx-btn-disabled: #9abcf6;
  --b-tx-btn-subtle: #d5e4fc;
  --b-tx-btn-default: #000000;
  --b-tx-btn-hover: #000000;
  --b-tx-btn-pressed: #000000;

  /* Danger */
  --d-bg-app: #000000;
  --d-bg-panel: #3d0a0a;
  --d-bg-overly: #812120;
  --d-sf-sunken: #2c0606;
  --d-sf-default: #430d0c;
  --d-sf-input: #531211;
  --d-sf-raised: #601616;
  --d-sf-overlay: #6f1b1b;
  --d-sf-hover: #641717;
  --d-sf-active: #781e1e;
  --d-br-hairline: #4e1010;
  --d-br-subtle: #6f1b1b;
  --d-br-default: #952727;
  --d-br-strong: #c15b54;
  --d-tx-primary: #ecc2bd;
  --d-tx-secondary: #d58780;
  --d-tx-muted: #c15b54;
  --d-tx-dim: #ad3030;
  --d-tx-disabled: #751d1d;
  --d-fi-subtle: #4e1010;
  --d-fi-default: #751d1d;
  --d-fi-strong: #ad3030;
  --d-fi-stronger: #c15b54;
  --d-fi-strongest: #c15b54;
  --d-fi-btn-disabled: #8f0010;
  --d-fi-btn-subtle: #c0001b;
  --d-fi-btn-default: #ec4242;
  --d-fi-btn-hover: #ff5f5a;
  --d-fi-btn-pressed: #ff8179;
  --d-tx-btn-disabled: #e5ada7;
  --d-tx-btn-subtle: #f5dedb;
  --d-tx-btn-default: #000000;
  --d-tx-btn-hover: #000000;
  --d-tx-btn-pressed: #000000;

  /* Success */
  --s-bg-app: #000000;
  --s-bg-panel: #02230b;
  --s-bg-overly: #085022;
  --s-sf-sunken: #011806;
  --s-sf-default: #02270d;
  --s-sf-input: #033213;
  --s-sf-raised: #043a17;
  --s-sf-overlay: #06441c;
  --s-sf-hover: #053d18;
  --s-sf-active: #074a1f;
  --s-br-hairline: #032f11;
  --s-br-subtle: #06441c;
  --s-br-default: #0b5d29;
  --s-br-strong: #3d8950;
  --s-tx-primary: #b8d2bc;
  --s-tx-secondary: #73a87d;
  --s-tx-muted: #3d8950;
  --s-tx-dim: #0f6d31;
  --s-tx-disabled: #07481e;
  --s-fi-subtle: #032f11;
  --s-fi-default: #07481e;
  --s-fi-strong: #0f6d31;
  --s-fi-stronger: #3d8950;
  --s-fi-strongest: #3d8950;
  --s-fi-btn-disabled: #00501d;
  --s-fi-btn-subtle: #006e2b;
  --s-fi-btn-default: #00963f;
  --s-fi-btn-hover: #00ad4a;
  --s-fi-btn-pressed: #16c059;
  --s-tx-btn-disabled: #a0c4a6;
  --s-tx-btn-subtle: #d8e7da;
  --s-tx-btn-default: #000000;
  --s-tx-btn-hover: #000000;
  --s-tx-btn-pressed: #000000;

  /* Warning */
  --w-bg-app: #000000;
  --w-bg-panel: #2c1901;
  --w-bg-overly: #623c02;
  --w-sf-sunken: #201000;
  --w-sf-default: #311c01;
  --w-sf-input: #3e2501;
  --w-sf-raised: #482b01;
  --w-sf-overlay: #533301;
  --w-sf-hover: #4b2d01;
  --w-sf-active: #5a3802;
  --w-br-hairline: #3a2201;
  --w-br-subtle: #533301;
  --w-br-default: #714703;
  --w-br-strong: #9d723c;
  --w-tx-primary: #dac9b5;
  --w-tx-secondary: #b79670;
  --w-tx-muted: #9d723c;
  --w-tx-dim: #855404;
  --w-tx-disabled: #593602;
  --w-fi-subtle: #3a2201;
  --w-fi-default: #593602;
  --w-fi-strong: #855404;
  --w-fi-stronger: #9d723c;
  --w-fi-strongest: #9d723c;
  --w-fi-btn-disabled: #633c00;
  --w-fi-btn-subtle: #865300;
  --w-fi-btn-default: #b67300;
  --w-fi-btn-hover: #d18500;
  --w-fi-btn-pressed: #e89400;
  --w-tx-btn-disabled: #ceb79d;
  --w-tx-btn-subtle: #ebe2d7;
  --w-tx-btn-default: #000000;
  --w-tx-btn-hover: #000000;
  --w-tx-btn-pressed: #000000;
}

@media (prefers-color-scheme: dark) {
  :root:not([data-theme]) {
    --n-bg-app: #000000;
    --n-bg-panel: #1d1d1d;
    --n-bg-overly: #454545;
    --n-sf-sunken: #141414;
    --n-sf-default: #212121;
    --n-sf-input: #1e1e1e;
    --n-sf-raised: #323232;
    --n-sf-overlay: #3a3a3a;
    --n-sf-hover: #343434;
    --n-sf-active: #404040;
    --n-br-hairline: #272727;
    --n-br-subtle: #3a3a3a;
    --n-br-default: #505050;
    --n-br-strong: #7a7a7a;
    --n-tx-primary: #cccccc;
    --n-tx-secondary: #9c9c9c;
    --n-tx-muted: #7a7a7a;
    --n-tx-dim: #5f5f5f;
    --n-tx-disabled: #3e3e3e;
    --n-fi-subtle: #272727;
    --n-fi-default: #3e3e3e;
    --n-fi-strong: #5f5f5f;
    --n-fi-stronger: #7a7a7a;
    --n-fi-strongest: #7a7a7a;
    --n-fi-btn-disabled: #454545;
    --n-fi-btn-subtle: #5f5f5f;
    --n-fi-btn-default: #828282;
    --n-fi-btn-hover: #969696;
    --n-fi-btn-pressed: #a7a7a7;
    --n-tx-btn-disabled: #bbbbbb;
    --n-tx-btn-subtle: #e4e4e4;
    --n-tx-btn-default: #000000;
    --n-tx-btn-hover: #000000;
    --n-tx-btn-pressed: #000000;
    --b-bg-app: #000000;
    --b-bg-panel: #00194e;
    --b-bg-overly: #003ca2;
    --b-sf-sunken: #00103a;
    --b-sf-default: #001c55;
    --b-sf-input: #00246a;
    --b-sf-raised: #002b79;
    --b-sf-overlay: #00328d;
    --b-sf-hover: #002d7e;
    --b-sf-active: #003798;
    --b-br-hairline: #002264;
    --b-br-subtle: #00328d;
    --b-br-default: #0046bb;
    --b-br-strong: #3876e6;
    --b-tx-primary: #b3cdf9;
    --b-tx-secondary: #6b9bf0;
    --b-tx-muted: #3876e6;
    --b-tx-dim: #0053da;
    --b-tx-disabled: #003694;
    --b-fi-subtle: #002264;
    --b-fi-default: #003694;
    --b-fi-strong: #0053da;
    --b-fi-stronger: #3876e6;
    --b-fi-strongest: #3876e6;
    --b-fi-btn-disabled: #0036b2;
    --b-fi-btn-subtle: #004ee7;
    --b-fi-btn-default: #327bff;
    --b-fi-btn-hover: #5894ff;
    --b-fi-btn-pressed: #74a7ff;
    --b-tx-btn-disabled: #9abcf6;
    --b-tx-btn-subtle: #d5e4fc;
    --b-tx-btn-default: #000000;
    --b-tx-btn-hover: #000000;
    --b-tx-btn-pressed: #000000;
    --d-bg-app: #000000;
    --d-bg-panel: #3d0a0a;
    --d-bg-overly: #812120;
    --d-sf-sunken: #2c0606;
    --d-sf-default: #430d0c;
    --d-sf-input: #531211;
    --d-sf-raised: #601616;
    --d-sf-overlay: #6f1b1b;
    --d-sf-hover: #641717;
    --d-sf-active: #781e1e;
    --d-br-hairline: #4e1010;
    --d-br-subtle: #6f1b1b;
    --d-br-default: #952727;
    --d-br-strong: #c15b54;
    --d-tx-primary: #ecc2bd;
    --d-tx-secondary: #d58780;
    --d-tx-muted: #c15b54;
    --d-tx-dim: #ad3030;
    --d-tx-disabled: #751d1d;
    --d-fi-subtle: #4e1010;
    --d-fi-default: #751d1d;
    --d-fi-strong: #ad3030;
    --d-fi-stronger: #c15b54;
    --d-fi-strongest: #c15b54;
    --d-fi-btn-disabled: #8f0010;
    --d-fi-btn-subtle: #c0001b;
    --d-fi-btn-default: #ec4242;
    --d-fi-btn-hover: #ff5f5a;
    --d-fi-btn-pressed: #ff8179;
    --d-tx-btn-disabled: #e5ada7;
    --d-tx-btn-subtle: #f5dedb;
    --d-tx-btn-default: #000000;
    --d-tx-btn-hover: #000000;
    --d-tx-btn-pressed: #000000;
    --s-bg-app: #000000;
    --s-bg-panel: #02230b;
    --s-bg-overly: #085022;
    --s-sf-sunken: #011806;
    --s-sf-default: #02270d;
    --s-sf-input: #033213;
    --s-sf-raised: #043a17;
    --s-sf-overlay: #06441c;
    --s-sf-hover: #053d18;
    --s-sf-active: #074a1f;
    --s-br-hairline: #032f11;
    --s-br-subtle: #06441c;
    --s-br-default: #0b5d29;
    --s-br-strong: #3d8950;
    --s-tx-primary: #b8d2bc;
    --s-tx-secondary: #73a87d;
    --s-tx-muted: #3d8950;
    --s-tx-dim: #0f6d31;
    --s-tx-disabled: #07481e;
    --s-fi-subtle: #032f11;
    --s-fi-default: #07481e;
    --s-fi-strong: #0f6d31;
    --s-fi-stronger: #3d8950;
    --s-fi-strongest: #3d8950;
    --s-fi-btn-disabled: #00501d;
    --s-fi-btn-subtle: #006e2b;
    --s-fi-btn-default: #00963f;
    --s-fi-btn-hover: #00ad4a;
    --s-fi-btn-pressed: #16c059;
    --s-tx-btn-disabled: #a0c4a6;
    --s-tx-btn-subtle: #d8e7da;
    --s-tx-btn-default: #000000;
    --s-tx-btn-hover: #000000;
    --s-tx-btn-pressed: #000000;
    --w-bg-app: #000000;
    --w-bg-panel: #2c1901;
    --w-bg-overly: #623c02;
    --w-sf-sunken: #201000;
    --w-sf-default: #311c01;
    --w-sf-input: #3e2501;
    --w-sf-raised: #482b01;
    --w-sf-overlay: #533301;
    --w-sf-hover: #4b2d01;
    --w-sf-active: #5a3802;
    --w-br-hairline: #3a2201;
    --w-br-subtle: #533301;
    --w-br-default: #714703;
    --w-br-strong: #9d723c;
    --w-tx-primary: #dac9b5;
    --w-tx-secondary: #b79670;
    --w-tx-muted: #9d723c;
    --w-tx-dim: #855404;
    --w-tx-disabled: #593602;
    --w-fi-subtle: #3a2201;
    --w-fi-default: #593602;
    --w-fi-strong: #855404;
    --w-fi-stronger: #9d723c;
    --w-fi-strongest: #9d723c;
    --w-fi-btn-disabled: #633c00;
    --w-fi-btn-subtle: #865300;
    --w-fi-btn-default: #b67300;
    --w-fi-btn-hover: #d18500;
    --w-fi-btn-pressed: #e89400;
    --w-tx-btn-disabled: #ceb79d;
    --w-tx-btn-subtle: #ebe2d7;
    --w-tx-btn-default: #000000;
    --w-tx-btn-hover: #000000;
    --w-tx-btn-pressed: #000000;
  }
}
