/* DARK */
body[data-theme="dark"] {
  /* Neutral */
  --n-bg-app: #000000;
  --n-bg-panel: #1b1d21;
  --n-bg-overly: #40454d;
  --n-sf-sunken: #121417;
  --n-sf-default: #1e2125;
  --n-sf-input: #272a30;
  --n-sf-raised: #2e3238;
  --n-sf-overlay: #363a41;
  --n-sf-hover: #30343a;
  --n-sf-active: #3b4048;
  --n-br-hairline: #25272d;
  --n-br-subtle: #363a41;
  --n-br-default: #4b505a;
  --n-br-strong: #747a85;
  --n-tx-primary: #c9ccd0;
  --n-tx-secondary: #979ca4;
  --n-tx-muted: #808590;
  --n-tx-dim: #595f6a;
  --n-tx-disabled: #393e46;
  --n-fi-subtle: #25272d;
  --n-fi-default: #393e46;
  --n-fi-strong: #595f6a;
  --n-fi-stronger: #747a85;
  --n-fi-strongest: #747a85;
  --n-fi-btn-disabled: #40454d;
  --n-fi-btn-subtle: #595f6a;
  --n-fi-btn-default: #7c828c;
  --n-fi-btn-hover: #91969e;
  --n-fi-btn-pressed: #a3a7ae;
  --n-tx-btn-disabled: #b8bbc0;
  --n-tx-btn-subtle: #e1e3e5;
  --n-tx-btn-default: #000000;
  --n-tx-btn-hover: #000000;
  --n-tx-btn-pressed: #000000;

  /* Brand */
  --b-bg-app: #000000;
  --b-bg-panel: #011a4b;
  --b-bg-overly: #043e9d;
  --b-sf-sunken: #011137;
  --b-sf-default: #011d52;
  --b-sf-input: #022566;
  --b-sf-raised: #022c76;
  --b-sf-overlay: #033486;
  --b-sf-hover: #032e7a;
  --b-sf-active: #043991;
  --b-br-hairline: #02235f;
  --b-br-subtle: #033486;
  --b-br-default: #0648b4;
  --b-br-strong: #3b77e0;
  --b-tx-primary: #b4cdf7;
  --b-tx-secondary: #6e9ceb;
  --b-tx-muted: #3b77e0;
  --b-tx-dim: #0855d3;
  --b-tx-disabled: #03378f;
  --b-fi-subtle: #02235f;
  --b-fi-default: #03378f;
  --b-fi-strong: #0855d3;
  --b-fi-stronger: #3b77e0;
  --b-fi-strongest: #3b77e0;
  --b-fi-btn-disabled: #043e9d;
  --b-fi-btn-subtle: #0855d3;
  --b-fi-btn-default: #2164d8;
  --b-fi-btn-hover: #6595e9;
  --b-fi-btn-pressed: #7ea7ee;
  --b-tx-btn-disabled: #9bbcf3;
  --b-tx-btn-subtle: #d6e3fb;
  --b-tx-btn-default: #000000;
  --b-tx-btn-hover: #000000;
  --b-tx-btn-pressed: #000000;

  /* Danger */
  --d-bg-app: #000000;
  --d-bg-panel: #3d0a0a;
  --d-bg-overly: #812120;
  --d-sf-sunken: #2c0606;
  --d-sf-default: #430d0c;
  --d-sf-input: #531211;
  --d-sf-raised: #601616;
  --d-sf-overlay: #6f1b1b;
  --d-sf-hover: #641717;
  --d-sf-active: #781e1e;
  --d-br-hairline: #4e1010;
  --d-br-subtle: #6f1b1b;
  --d-br-default: #952727;
  --d-br-strong: #c15b54;
  --d-tx-primary: #ecc2bd;
  --d-tx-secondary: #d58780;
  --d-tx-muted: #c15b54;
  --d-tx-dim: #ad3030;
  --d-tx-disabled: #751d1d;
  --d-fi-subtle: #4e1010;
  --d-fi-default: #751d1d;
  --d-fi-strong: #ad3030;
  --d-fi-stronger: #c15b54;
  --d-fi-strongest: #c15b54;
  --d-fi-btn-disabled: #812120;
  --d-fi-btn-subtle: #ad3030;
  --d-fi-btn-default: #c6655f;
  --d-fi-btn-hover: #d18079;
  --d-fi-btn-pressed: #db958e;
  --d-tx-btn-disabled: #e5ada7;
  --d-tx-btn-subtle: #f5dedb;
  --d-tx-btn-default: #000000;
  --d-tx-btn-hover: #000000;
  --d-tx-btn-pressed: #000000;

  /* Success */
  --s-bg-app: #000000;
  --s-bg-panel: #02230b;
  --s-bg-overly: #085022;
  --s-sf-sunken: #011806;
  --s-sf-default: #02270d;
  --s-sf-input: #033213;
  --s-sf-raised: #043a17;
  --s-sf-overlay: #06441c;
  --s-sf-hover: #053d18;
  --s-sf-active: #074a1f;
  --s-br-hairline: #032f11;
  --s-br-subtle: #06441c;
  --s-br-default: #0b5d29;
  --s-br-strong: #3d8950;
  --s-tx-primary: #b8d2bc;
  --s-tx-secondary: #73a87d;
  --s-tx-muted: #3d8950;
  --s-tx-dim: #0f6d31;
  --s-tx-disabled: #07481e;
  --s-fi-subtle: #032f11;
  --s-fi-default: #07481e;
  --s-fi-strong: #0f6d31;
  --s-fi-stronger: #3d8950;
  --s-fi-strongest: #3d8950;
  --s-fi-btn-disabled: #085022;
  --s-fi-btn-subtle: #0f6d31;
  --s-fi-btn-default: #4a905a;
  --s-fi-btn-hover: #69a275;
  --s-fi-btn-pressed: #83b28b;
  --s-tx-btn-disabled: #a0c4a6;
  --s-tx-btn-subtle: #d8e7da;
  --s-tx-btn-default: #000000;
  --s-tx-btn-hover: #000000;
  --s-tx-btn-pressed: #000000;

  /* Warning */
  --w-bg-app: #000000;
  --w-bg-panel: #2c1901;
  --w-bg-overly: #623c02;
  --w-sf-sunken: #201000;
  --w-sf-default: #311c01;
  --w-sf-input: #3e2501;
  --w-sf-raised: #482b01;
  --w-sf-overlay: #533301;
  --w-sf-hover: #4b2d01;
  --w-sf-active: #5a3802;
  --w-br-hairline: #3a2201;
  --w-br-subtle: #533301;
  --w-br-default: #714703;
  --w-br-strong: #9d723c;
  --w-tx-primary: #dac9b5;
  --w-tx-secondary: #b79670;
  --w-tx-muted: #9d723c;
  --w-tx-dim: #855404;
  --w-tx-disabled: #593602;
  --w-fi-subtle: #3a2201;
  --w-fi-default: #593602;
  --w-fi-strong: #855404;
  --w-fi-stronger: #9d723c;
  --w-fi-strongest: #9d723c;
  --w-fi-btn-disabled: #623c02;
  --w-fi-btn-subtle: #855404;
  --w-fi-btn-default: #a37a48;
  --w-fi-btn-hover: #b38f67;
  --w-fi-btn-pressed: #bfa280;
  --w-tx-btn-disabled: #ceb79d;
  --w-tx-btn-subtle: #ebe2d7;
  --w-tx-btn-default: #000000;
  --w-tx-btn-hover: #000000;
  --w-tx-btn-pressed: #000000;
}

/* DARK/PANEL */
body[data-theme="dark/panel"] {
  /* Neutral */
  --n-bg-app: #000000;
  --n-bg-panel: #24262c;
  --n-bg-overly: #474c55;
  --n-sf-sunken: #000000;
  --n-sf-default: #272a2f;
  --n-sf-input: #2e3238;
  --n-sf-raised: #353940;
  --n-sf-overlay: #3d414a;
  --n-sf-hover: #383b43;
  --n-sf-active: #424750;
  --n-br-hairline: #2c3036;
  --n-br-subtle: #3d414a;
  --n-br-default: #525762;
  --n-br-strong: #7d828c;
  --n-tx-primary: #d5d7da;
  --n-tx-secondary: #a1a5ac;
  --n-tx-muted: #7d828c;
  --n-tx-dim: #5f6672;
  --n-tx-disabled: #40454d;
  --n-fi-subtle: #2c3036;
  --n-fi-default: #40454d;
  --n-fi-strong: #5f6672;
  --n-fi-stronger: #7d828c;
  --n-fi-strongest: #7d828c;
  --n-fi-btn-disabled: #474c55;
  --n-fi-btn-subtle: #5f6672;
  --n-fi-btn-default: #858a93;
  --n-fi-btn-hover: #9b9fa6;
  --n-fi-btn-pressed: #adb0b6;
  --n-tx-btn-disabled: #c2c5c9;
  --n-tx-btn-subtle: #eeeff0;
  --n-tx-btn-default: #000000;
  --n-tx-btn-hover: #000000;
  --n-tx-btn-pressed: #000000;

  /* Brand */
  --b-bg-app: #000000;
  --b-bg-panel: #01225d;
  --b-bg-overly: #0544aa;
  --b-sf-sunken: #000000;
  --b-sf-default: #022564;
  --b-sf-input: #022d76;
  --b-sf-raised: #033384;
  --b-sf-overlay: #043b96;
  --b-sf-hover: #033589;
  --b-sf-active: #0540a1;
  --b-br-hairline: #022a71;
  --b-br-subtle: #043b96;
  --b-br-default: #074fc3;
  --b-br-strong: #4880e3;
  --b-tx-primary: #c4d8f9;
  --b-tx-secondary: #7ba5ed;
  --b-tx-muted: #4880e3;
  --b-tx-dim: #165ed8;
  --b-tx-disabled: #043e9d;
  --b-fi-subtle: #022a71;
  --b-fi-default: #043e9d;
  --b-fi-strong: #165ed8;
  --b-fi-stronger: #4880e3;
  --b-fi-strongest: #4880e3;
  --b-fi-btn-disabled: #0544aa;
  --b-fi-btn-subtle: #165ed8;
  --b-fi-btn-default: #5489e5;
  --b-fi-btn-hover: #729feb;
  --b-fi-btn-pressed: #8cb1f0;
  --b-tx-btn-disabled: #abc7f5;
  --b-tx-btn-subtle: #e8f0fd;
  --b-tx-btn-default: #000000;
  --b-tx-btn-hover: #000000;
  --b-tx-btn-pressed: #000000;

  /* Danger */
  --d-bg-app: #000000;
  --d-bg-panel: #4c100f;
  --d-bg-overly: #8d2524;
  --d-sf-sunken: #000000;
  --d-sf-default: #521211;
  --d-sf-input: #611616;
  --d-sf-raised: #6d1a1a;
  --d-sf-overlay: #7b1f1e;
  --d-sf-hover: #711b1b;
  --d-sf-active: #842222;
  --d-br-hairline: #5c1514;
  --d-br-subtle: #7b1f1e;
  --d-br-default: #a12b2b;
  --d-br-strong: #c6665f;
  --d-tx-primary: #f0cfcb;
  --d-tx-secondary: #da928b;
  --d-tx-muted: #c6665f;
  --d-tx-dim: #b33c39;
  --d-tx-disabled: #812121;
  --d-fi-subtle: #5c1514;
  --d-fi-default: #812121;
  --d-fi-strong: #b33c39;
  --d-fi-stronger: #c6665f;
  --d-fi-strongest: #c6665f;
  --d-fi-btn-disabled: #8d2524;
  --d-fi-btn-subtle: #b33c39;
  --d-fi-btn-default: #cb7069;
  --d-fi-btn-hover: #d68b84;
  --d-fi-btn-pressed: #e0a09a;
  --d-tx-btn-disabled: #e9bab4;
  --d-tx-btn-subtle: #f9ecea;
  --d-tx-btn-default: #000000;
  --d-tx-btn-hover: #000000;
  --d-tx-btn-pressed: #000000;

  /* Success */
  --s-bg-app: #000000;
  --s-bg-panel: #032e11;
  --s-bg-overly: #0a5826;
  --s-sf-sunken: #000000;
  --s-sf-default: #033112;
  --s-sf-input: #043b17;
  --s-sf-raised: #06431b;
  --s-sf-overlay: #074c20;
  --s-sf-hover: #06451c;
  --s-sf-active: #095223;
  --s-br-hairline: #043816;
  --s-br-subtle: #074c20;
  --s-br-default: #0d652d;
  --s-br-strong: #4b905a;
  --s-tx-primary: #c6dcc9;
  --s-tx-secondary: #80b088;
  --s-tx-muted: #4b905a;
  --s-tx-dim: #107635;
  --s-tx-disabled: #085022;
  --s-fi-subtle: #043816;
  --s-fi-default: #085022;
  --s-fi-strong: #107635;
  --s-fi-stronger: #4b905a;
  --s-fi-strongest: #4b905a;
  --s-fi-btn-disabled: #0a5826;
  --s-fi-btn-subtle: #107635;
  --s-fi-btn-default: #589865;
  --s-fi-btn-hover: #77aa80;
  --s-fi-btn-pressed: #90ba97;
  --s-tx-btn-disabled: #afcdb3;
  --s-tx-btn-subtle: #eaf2eb;
  --s-tx-btn-default: #000000;
  --s-tx-btn-hover: #000000;
  --s-tx-btn-pressed: #000000;

  /* Warning */
  --w-bg-app: #000000;
  --w-bg-panel: #392101;
  --w-bg-overly: #6b4302;
  --w-sf-sunken: #000000;
  --w-sf-default: #3d2401;
  --w-sf-input: #482c01;
  --w-sf-raised: #523201;
  --w-sf-overlay: #5d3902;
  --w-sf-hover: #553401;
  --w-sf-active: #653e02;
  --w-br-hairline: #452901;
  --w-br-subtle: #5d3902;
  --w-br-default: #7b4d03;
  --w-br-strong: #a37a48;
  --w-tx-primary: #e2d5c5;
  --w-tx-secondary: #bea07d;
  --w-tx-muted: #a37a48;
  --w-tx-dim: #8c5b12;
  --w-tx-disabled: #623d02;
  --w-fi-subtle: #452901;
  --w-fi-default: #623d02;
  --w-fi-strong: #8c5b12;
  --w-fi-stronger: #a37a48;
  --w-fi-strongest: #a37a48;
  --w-fi-btn-disabled: #6b4302;
  --w-fi-btn-subtle: #8c5b12;
  --w-fi-btn-default: #a98355;
  --w-fi-btn-hover: #b99974;
  --w-fi-btn-pressed: #c6ac8e;
  --w-tx-btn-disabled: #d5c2ab;
  --w-tx-btn-subtle: #f3eee7;
  --w-tx-btn-default: #000000;
  --w-tx-btn-hover: #000000;
  --w-tx-btn-pressed: #000000;
}

@media (prefers-color-scheme: dark) {
  :root:not([data-theme]) {
    --n-bg-app: #000000;
    --n-bg-panel: #1b1d21;
    --n-bg-overly: #40454d;
    --n-sf-sunken: #121417;
    --n-sf-default: #1e2125;
    --n-sf-input: #272a30;
    --n-sf-raised: #2e3238;
    --n-sf-overlay: #363a41;
    --n-sf-hover: #30343a;
    --n-sf-active: #3b4048;
    --n-br-hairline: #25272d;
    --n-br-subtle: #363a41;
    --n-br-default: #4b505a;
    --n-br-strong: #747a85;
    --n-tx-primary: #c9ccd0;
    --n-tx-secondary: #979ca4;
    --n-tx-muted: #808590;
    --n-tx-dim: #595f6a;
    --n-tx-disabled: #393e46;
    --n-fi-subtle: #25272d;
    --n-fi-default: #393e46;
    --n-fi-strong: #595f6a;
    --n-fi-stronger: #747a85;
    --n-fi-strongest: #747a85;
    --n-fi-btn-disabled: #40454d;
    --n-fi-btn-subtle: #595f6a;
    --n-fi-btn-default: #7c828c;
    --n-fi-btn-hover: #91969e;
    --n-fi-btn-pressed: #a3a7ae;
    --n-tx-btn-disabled: #b8bbc0;
    --n-tx-btn-subtle: #e1e3e5;
    --n-tx-btn-default: #000000;
    --n-tx-btn-hover: #000000;
    --n-tx-btn-pressed: #000000;
    --b-bg-app: #000000;
    --b-bg-panel: #011a4b;
    --b-bg-overly: #043e9d;
    --b-sf-sunken: #011137;
    --b-sf-default: #011d52;
    --b-sf-input: #022566;
    --b-sf-raised: #022c76;
    --b-sf-overlay: #033486;
    --b-sf-hover: #032e7a;
    --b-sf-active: #043991;
    --b-br-hairline: #02235f;
    --b-br-subtle: #033486;
    --b-br-default: #0648b4;
    --b-br-strong: #3b77e0;
    --b-tx-primary: #b4cdf7;
    --b-tx-secondary: #6e9ceb;
    --b-tx-muted: #3b77e0;
    --b-tx-dim: #0855d3;
    --b-tx-disabled: #03378f;
    --b-fi-subtle: #02235f;
    --b-fi-default: #03378f;
    --b-fi-strong: #0855d3;
    --b-fi-stronger: #3b77e0;
    --b-fi-strongest: #3b77e0;
    --b-fi-btn-disabled: #043e9d;
    --b-fi-btn-subtle: #0855d3;
    --b-fi-btn-default: #477fe3;
    --b-fi-btn-hover: #6595e9;
    --b-fi-btn-pressed: #7ea7ee;
    --b-tx-btn-disabled: #9bbcf3;
    --b-tx-btn-subtle: #d6e3fb;
    --b-tx-btn-default: #000000;
    --b-tx-btn-hover: #000000;
    --b-tx-btn-pressed: #000000;
    --d-bg-app: #000000;
    --d-bg-panel: #3d0a0a;
    --d-bg-overly: #812120;
    --d-sf-sunken: #2c0606;
    --d-sf-default: #430d0c;
    --d-sf-input: #531211;
    --d-sf-raised: #601616;
    --d-sf-overlay: #6f1b1b;
    --d-sf-hover: #641717;
    --d-sf-active: #781e1e;
    --d-br-hairline: #4e1010;
    --d-br-subtle: #6f1b1b;
    --d-br-default: #952727;
    --d-br-strong: #c15b54;
    --d-tx-primary: #ecc2bd;
    --d-tx-secondary: #d58780;
    --d-tx-muted: #c15b54;
    --d-tx-dim: #ad3030;
    --d-tx-disabled: #751d1d;
    --d-fi-subtle: #4e1010;
    --d-fi-default: #751d1d;
    --d-fi-strong: #ad3030;
    --d-fi-stronger: #c15b54;
    --d-fi-strongest: #c15b54;
    --d-fi-btn-disabled: #812120;
    --d-fi-btn-subtle: #ad3030;
    --d-fi-btn-default: #c6655f;
    --d-fi-btn-hover: #d18079;
    --d-fi-btn-pressed: #db958e;
    --d-tx-btn-disabled: #e5ada7;
    --d-tx-btn-subtle: #f5dedb;
    --d-tx-btn-default: #000000;
    --d-tx-btn-hover: #000000;
    --d-tx-btn-pressed: #000000;
    --s-bg-app: #000000;
    --s-bg-panel: #02230b;
    --s-bg-overly: #085022;
    --s-sf-sunken: #011806;
    --s-sf-default: #02270d;
    --s-sf-input: #033213;
    --s-sf-raised: #043a17;
    --s-sf-overlay: #06441c;
    --s-sf-hover: #053d18;
    --s-sf-active: #074a1f;
    --s-br-hairline: #032f11;
    --s-br-subtle: #06441c;
    --s-br-default: #0b5d29;
    --s-br-strong: #3d8950;
    --s-tx-primary: #b8d2bc;
    --s-tx-secondary: #73a87d;
    --s-tx-muted: #3d8950;
    --s-tx-dim: #0f6d31;
    --s-tx-disabled: #07481e;
    --s-fi-subtle: #032f11;
    --s-fi-default: #07481e;
    --s-fi-strong: #0f6d31;
    --s-fi-stronger: #3d8950;
    --s-fi-strongest: #3d8950;
    --s-fi-btn-disabled: #085022;
    --s-fi-btn-subtle: #0f6d31;
    --s-fi-btn-default: #4a905a;
    --s-fi-btn-hover: #69a275;
    --s-fi-btn-pressed: #83b28b;
    --s-tx-btn-disabled: #a0c4a6;
    --s-tx-btn-subtle: #d8e7da;
    --s-tx-btn-default: #000000;
    --s-tx-btn-hover: #000000;
    --s-tx-btn-pressed: #000000;
    --w-bg-app: #000000;
    --w-bg-panel: #2c1901;
    --w-bg-overly: #623c02;
    --w-sf-sunken: #201000;
    --w-sf-default: #311c01;
    --w-sf-input: #3e2501;
    --w-sf-raised: #482b01;
    --w-sf-overlay: #533301;
    --w-sf-hover: #4b2d01;
    --w-sf-active: #5a3802;
    --w-br-hairline: #3a2201;
    --w-br-subtle: #533301;
    --w-br-default: #714703;
    --w-br-strong: #9d723c;
    --w-tx-primary: #dac9b5;
    --w-tx-secondary: #b79670;
    --w-tx-muted: #9d723c;
    --w-tx-dim: #855404;
    --w-tx-disabled: #593602;
    --w-fi-subtle: #3a2201;
    --w-fi-default: #593602;
    --w-fi-strong: #855404;
    --w-fi-stronger: #9d723c;
    --w-fi-strongest: #9d723c;
    --w-fi-btn-disabled: #623c02;
    --w-fi-btn-subtle: #855404;
    --w-fi-btn-default: #a37a48;
    --w-fi-btn-hover: #b38f67;
    --w-fi-btn-pressed: #bfa280;
    --w-tx-btn-disabled: #ceb79d;
    --w-tx-btn-subtle: #ebe2d7;
    --w-tx-btn-default: #000000;
    --w-tx-btn-hover: #000000;
    --w-tx-btn-pressed: #000000;
  }
}
