/* LIGHT */
:root,
[data-theme="light"] {
  /* Neutral */
  --n-bg-app: #ffffff;
  --n-bg-card: #f5f5f5;
  --n-card-border: #d1d1d1;
  --n-bg-panel: #e3e3e3;
  --n-bg-overly: #adadad;
  --n-sf-sunken: #ececec;
  --n-sf-default: #dedede;
  --n-sf-input: #eaeaea;
  --n-sf-raised: #c7c7c7;
  --n-sf-overlay: #bcbcbc;
  --n-sf-hover: #c4c4c4;
  --n-sf-active: #b4b4b4;
  --n-br-hairline: #d6d6d6;
  --n-br-subtle: #bcbcbc;
  --n-br-default: #9e9e9e;
  --n-br-strong: #6f6f6f;
  --n-tx-primary: #2e2e2e;
  --n-tx-secondary: #525252;
  --n-tx-muted: #6f6f6f;
  --n-tx-dim: #8c8c8c;
  --n-tx-disabled: #b6b6b6;
  --n-fi-subtle: #d6d6d6;
  --n-fi-default: #b6b6b6;
  --n-fi-strong: #8c8c8c;
  --n-fi-stronger: #6f6f6f;
  --n-fi-strongest: #6f6f6f;
  --n-fi-btn-disabled: #adadad;
  --n-fi-btn-subtle: #8c8c8c;
  --n-fi-btn-default: #676767;
  --n-fi-btn-hover: #565656;
  --n-fi-btn-pressed: #494949;
  --n-tx-btn-disabled: #9a9a9a;
  --n-tx-btn-subtle: #bdbdbd;
  --n-tx-btn-default: #e6e6e6;
  --n-tx-btn-hover: #ffffff;
  --n-tx-btn-pressed: #ffffff;

  /* Brand */
  --b-bg-app: #ffffff;
  --b-bg-panel: #d5e4fd;
  --b-bg-overly: #87aef4;
  --b-sf-sunken: #e4edfd;
  --b-sf-default: #cfdffc;
  --b-sf-input: #bdd3fa;
  --b-sf-raised: #aec9f9;
  --b-sf-overlay: #9dbdf7;
  --b-sf-hover: #a9c6f8;
  --b-sf-active: #91b5f5;
  --b-br-hairline: #c3d7fb;
  --b-br-subtle: #9dbdf7;
  --b-br-default: #709ef0;
  --b-br-strong: #2668e3;
  --b-tx-primary: #002875;
  --b-tx-secondary: #0048c0;
  --b-tx-muted: #2668e3;
  --b-tx-dim: #558aec;
  --b-tx-disabled: #94b8f6;
  --b-fi-subtle: #c3d7fb;
  --b-fi-default: #94b8f6;
  --b-fi-strong: #558aec;
  --b-fi-stronger: #2668e3;
  --b-fi-strongest: #2668e3;
  --b-fi-btn-disabled: #7faeff;
  --b-fi-btn-subtle: #4788ff;
  --b-fi-btn-default: #0059f6;
  --b-fi-btn-hover: #0046da;
  --b-fi-btn-pressed: #003bbb;
  --b-tx-btn-disabled: #6b9bef;
  --b-tx-btn-subtle: #a0bff7;
  --b-tx-btn-default: #dbe8fd;
  --b-tx-btn-hover: #ffffff;
  --b-tx-btn-pressed: #ffffff;

  /* Danger */
  --d-bg-app: #ffffff;
  --d-bg-panel: #f5dedc;
  --d-bg-overly: #de9d97;
  --d-sf-sunken: #f9e9e8;
  --d-sf-default: #f4d8d5;
  --d-sf-input: #efcac6;
  --d-sf-raised: #eabdb9;
  --d-sf-overlay: #e5afaa;
  --d-sf-hover: #e9b9b4;
  --d-sf-active: #e2a59f;
  --d-br-hairline: #f0cecb;
  --d-br-subtle: #e5afaa;
  --d-br-default: #d68a84;
  --d-br-strong: #b94b47;
  --d-tx-primary: #5c1414;
  --d-tx-secondary: #982828;
  --d-tx-muted: #b94b47;
  --d-tx-dim: #cc736d;
  --d-tx-disabled: #e3a8a3;
  --d-fi-subtle: #f0cecb;
  --d-fi-default: #e3a8a3;
  --d-fi-strong: #cc736d;
  --d-fi-stronger: #b94b47;
  --d-fi-strongest: #b94b47;
  --d-fi-btn-disabled: #ff8d85;
  --d-fi-btn-subtle: #f94f4d;
  --d-fi-btn-default: #cc1b27;
  --d-fi-btn-hover: #b10018;
  --d-fi-btn-pressed: #980013;
  --d-tx-btn-disabled: #d4867f;
  --d-tx-btn-subtle: #e6b2ac;
  --d-tx-btn-default: #f7e2df;
  --d-tx-btn-hover: #ffffff;
  --d-tx-btn-pressed: #ffffff;

  /* Success */
  --s-bg-app: #ffffff;
  --s-bg-panel: #d8e7da;
  --s-bg-overly: #8cb894;
  --s-sf-sunken: #e6efe8;
  --s-sf-default: #d2e3d4;
  --s-sf-input: #c1d8c5;
  --s-sf-raised: #b3cfb7;
  --s-sf-overlay: #a1c5a7;
  --s-sf-hover: #aeccb3;
  --s-sf-active: #97be9d;
  --s-br-hairline: #c6dbc9;
  --s-br-subtle: #a1c5a7;
  --s-br-default: #76aa80;
  --s-br-strong: #287e41;
  --s-tx-primary: #043716;
  --s-tx-secondary: #0c5f2a;
  --s-tx-muted: #287e41;
  --s-tx-dim: #5b9a68;
  --s-tx-disabled: #9bc0a1;
  --s-fi-subtle: #c6dbc9;
  --s-fi-default: #9bc0a1;
  --s-fi-strong: #5b9a68;
  --s-fi-stronger: #287e41;
  --s-fi-strongest: #287e41;
  --s-fi-btn-disabled: #26c660;
  --s-fi-btn-subtle: #00a246;
  --s-fi-btn-default: #007832;
  --s-fi-btn-hover: #006528;
  --s-fi-btn-pressed: #005620;
  --s-tx-btn-disabled: #71a77b;
  --s-tx-btn-subtle: #a3c6a9;
  --s-tx-btn-default: #ddeade;
  --s-tx-btn-hover: #ffffff;
  --s-tx-btn-pressed: #ffffff;

  /* Warning */
  --w-bg-app: #ffffff;
  --w-bg-panel: #ebe1d7;
  --w-bg-overly: #c4a98a;
  --w-sf-sunken: #f2ece6;
  --w-sf-default: #e8dcd0;
  --w-sf-input: #dfd0c0;
  --w-sf-raised: #d8c5b1;
  --w-sf-overlay: #cfb89f;
  --w-sf-hover: #d5c2ab;
  --w-sf-active: #cab094;
  --w-br-hairline: #e2d4c5;
  --w-br-subtle: #cfb89f;
  --w-br-default: #b99874;
  --w-br-strong: #946529;
  --w-tx-primary: #442901;
  --w-tx-secondary: #744803;
  --w-tx-muted: #946529;
  --w-tx-dim: #ab8559;
  --w-tx-disabled: #cbb398;
  --w-fi-subtle: #e2d4c5;
  --w-fi-default: #cbb398;
  --w-fi-strong: #ab8559;
  --w-fi-stronger: #946529;
  --w-fi-strongest: #946529;
  --w-fi-btn-disabled: #f19a00;
  --w-fi-btn-subtle: #c57c00;
  --w-fi-btn-default: #935b00;
  --w-fi-btn-hover: #7c4c00;
  --w-fi-btn-pressed: #6a4000;
  --w-tx-btn-disabled: #b6956e;
  --w-tx-btn-subtle: #d0baa1;
  --w-tx-btn-default: #ede5db;
  --w-tx-btn-hover: #ffffff;
  --w-tx-btn-pressed: #ffffff;
}
